# Python
__pycache__/
*.pyc
.env
.env.*
.venv/
venv/
.venv/
*.sqlite3
*.db

# Editor / OS
.vscode/
.idea/
.DS_Store

# Node / frontend
node_modules/
.next/
dist/

# Logs
logs/
*.log

# Build / PyEnv
.pytest_cache/
